<p id="notice"><%= notice %></p>

<h1>All Coordinators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th>Photo url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinators.each do |coordinator| %>
      <tr>
        <td><%= coordinator.name %></td>
        <td><%= coordinator.email %></td>
        <td><%= coordinator.password_digest %></td>
        <td><%= coordinator.photo_url %></td>
        <td><%= link_to 'Show', coordinator %></td>
        <td><%= link_to 'Edit', edit_coordinator_path(coordinator) %></td>
        <td><%= link_to 'Destroy', coordinator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'New Coordinator', new_coordinator_path %></p>

