<p id="notice"><%= notice %></p>

<h1>All Coordinators</h1>

<% @coordinators.each do |coordinator| %>
  <div class="row">
    <div class="col">
      <image src=<%= coordinator.photo_url %> class="img-circle"></image>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <p>Coordinator name: <%= coordinator.name %></p>
        <p></p>
    </div>
  </div>
  <td><%= link_to 'Show', coordinator %></td>
  <td><%= link_to 'Edit', edit_coordinator_path(coordinator) %></td>
  <td><%= link_to 'Destroy', coordinator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<p><%= link_to 'New Coordinator', new_coordinator_path %></p>
