<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name %>
  </div>

  <div class="field">
    <%= form.label :prerequisite %>
    <%= form.text_field :prerequisite, id: :course_prerequisite %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :course_description %>
  </div>
  
  <!--<div class="field">-->
  <!--  <%#= form.label :coordinator_id %>-->
  <!--  <%#= form.select :coordinator_id, Coordinator.all.order(:name).collect {|s| [( s.name), s.id]}%>-->
    <%#= form.number_field :coordinator_id, id: :course_coordinator_id %>
  <!--</div>-->

  <div class="field">
    <%= form.label :coordinator_id %>
    <%= form.select :coordinator_id, Coordinator.all.order(:name).collect {|s| [( s.name), s.id]}%>
    <%#= form.number_field :coordinator_id, id: :course_coordinator_id %>
  </div>
  
  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, Category.all.order(:category).collect {|s| [( s.category), s.id]}%>
    <%#= form.number_field :coordinator_id, id: :course_coordinator_id %>
  </div>
  
  <div class="field">
    <%= form.label :location %>
    <%= form.select :location, Location.all.order(:location).collect {|s| [( s.location), s.id]}%>
    <%#= form.number_field :coordinator_id, id: :course_coordinator_id %>
  </div>
  
  <div class="field">
    <%= form.label :likes %>
    <%= form.number_field :likes, id: :course_likes %>
  </div>

  <div class="field">
    <%= form.label :dislikes %>
    <%= form.number_field :dislikes, id: :course_dislikes %>
  </div>

  <div class="actions">
    <%= form.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="gravatar_edit">
      <image src=<%= @course.photo_url %> class="img-circle"></image>
      <!--<%#= gravatar_for @course.name %>-->
      <a href="http://gravatar.com/emails" target="_blank">change</a>
</div>