<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Prerequisite:</strong>
  <%= @course.prerequisite %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= Coordinator.find(@course.coordinator_id).name %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @course.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @course.dislikes %>
</p>

<p> 
  <strong> Categories: </strong >
  <% if !@course.categories.empty? %>
    <%= @course.categories.collect {|category| link_to( category.category, category)}.join("\t").html_safe %>
  <% else %>
    No categories.
  <% end %>
</p>
        
<p> 
  <strong> Locations: </strong >
  <% if !@course.locations.empty? %>
    <%= @course.locations.collect {|location| link_to( location.location, location)}.join("\t").html_safe %>
  <% else %>
    Not hosted in any locations yet.
  <% end %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
