<h1> <%= @course.name %></h1>
<p id="notice"><%= notice %></p>
<hr/>
<p>
  <strong>Prerequisite:
  <%= @course.prerequisite %></strong>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
     <button class="btn btn-primary "> <%= link_to 'Edit this course', edit_course_path(@course) %></button>

</p>
<div class="row"> 

<div class="col-lg-8 col-md-8 col-sm-12 desc">
<div class="card bg-info mb-3" style="max-width: 70rem;">
<div class="card-body">

<p class="card-text">
<ul>
<p> 
  <strong> Categories: </strong >
  <% if !@course.categories.empty? %>
    <%= @course.categories.collect {|category| link_to( category.category, category)}.join("\t").html_safe %>
  <% else %>
    No categories.
  <% end %>
</p>
        
<p> 
  <strong> Locations: </strong >
  <% if !@course.locations.empty? %>
    <%= @course.locations.collect {|location| link_to( location.location, location)}.join("\t").html_safe %>
  <% else %>
    Not hosted in any locations yet.
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <p><%= @course.description %></p>
</p>

<%#= link_to 'Edit', edit_course_path(@course) %>
<%#= link_to 'Back', courses_path %>

 <div class="col-lg-3  pull-right";> 
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <a href="#">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                      </a>
                      <span><%= @course.likes %></spanp>
                      <a href="#">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                      </a>
                      <span><%= @course.dislikes %></spanp>
</div>
<br/>

</p>

</div>
</div>
<button class="btn btn-primary"><%= link_to 'Return to course list', courses_path %></button>
</div>

<div class="col-lg-4 col-md-4 col-sm-12">
<!--<image src=<%#= course.coordinator.photo_url %> class="img-circle"></image>-->
<image src= <%= Coordinator.find(@course.coordinator_id).photo_url %> class="img-circle"></image>
</div>
</div>
<div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12"></div> 
            <div class="col-lg-4 col-md-4 col-sm-12">
              <p>
                Coordinator name: 
               <%= Coordinator.find(@course.coordinator_id).name %>
              </p>
            </div>
          </div>
</div>
<%= image_tag(@course.image.url, alt: 'Image') if @course.image? %>