<% @categories = Category.all %>
<% @locations = Location.all %>

<header class="navbar navbar-fixed-top ">
  <div class="container">
    <div id="logo">
    <%= link_to "YOURCOURSE", :courses, class: "btn btn-lg btn btn-primary" %>
</div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
       <div class="button">
   
           <% if logged_in? %>
         
          <ul class="nav navbar-nav navbar-right">
          <div class="btn-group">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-danger btn-sm glyphicon glyphicon-move" data-toggle="dropdown">
             <%= current_user.name %> 
             <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to " View Profile", current_user %></li>
              <li><%= link_to "Edit Profile", '#' %></li>
              
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
           <!--<button type="button"class="btn btn-primary">New coursse</button> </div>-->
           <ul class="nav navbar-nav navbar-right">
        <!--<li><%= link_to "New courses", courses_path, class:"btn btn-primary btn-sm glyphicon glyphicon-move"%></li>-->
        <a href="../course" target="_parent">
          <button type="button"class="btn btn-primary">New courses</button>
        </a>
        </ul>
           <% else %>
           <li><%= link_to "Log in", login_path,  class:"btn btn-primary btn-md glyphicon glyphicon-list-alt"%>
           <% end %>

    </div>
    </ul>  
        
        <!--<ul class="dropdown-menu">-->
        <!--  <% Location.all.each do |location| %>-->
        <!--    <li>-->
        <!--      <%= link_to location.location, location %>-->
        <!--    </li>-->
        <!--  <% end %>-->
        <!--</ul>-->
        
<ul class="nav navbar-nav navbar-right">
    <div class="dropdown">
    <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="glyphicon glyphicon-move"></span>Category
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="../webProgram">Web Programming</a></li>
      <li><a href="../java">Java</a></li>
      <li><a href="../fullStackDev">Full Stack Dev</a></li>
      <li><a href="../iosEngineering">iOS Engineering</a></li>
    </ul>
    </div>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="glyphicon glyphicon-send"></span>Locations
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="../location_14_10_31">14.10.31</a></li>
      <li><a href="../location_14_08_23">14.08.23</a></li>
      <li><a href="../location_14_10_30">14.10.30</a></li>
    </ul>
    </ul>
       
    </nav>
  </div>
</header>